In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# Load the dataset

In [15]:
data = pd.read_excel("https://github.com/Mohazzem/New-folder/raw/main/Task%205%20Equality%20Table.xlsx")
data

                  Factory             Job Role  Equality Score  Equality class
0   Daikibo Factory Meiyo              C-Level             -25             NaN
1   Daikibo Factory Meiyo                   VP             -26             NaN
2   Daikibo Factory Meiyo             Director             -19             NaN
3   Daikibo Factory Meiyo          Sr. Manager             -15             NaN
4   Daikibo Factory Meiyo              Manager             -14             NaN
5   Daikibo Factory Meiyo          Jr. Manager             -20             NaN
6   Daikibo Factory Meiyo         Sr. Engineer              -5             NaN
7   Daikibo Factory Meiyo             Engineer              -8             NaN
8   Daikibo Factory Meiyo         Jr. Engineer               3             NaN
9   Daikibo Factory Meiyo  Operational Support             -22             NaN
10  Daikibo Factory Meiyo     Machine Operator              -7             NaN
11  Daikibo Factory Seiko                   VP             -19             NaN
12  Daikibo Factory Seiko             Director             -10             NaN
13  Daikibo Factory Seiko          Sr. Manager             -21             NaN
14  Daikibo Factory Seiko              Manager             -21             NaN
15  Daikibo Factory Seiko          Jr. Manager             -24             NaN
16  Daikibo Factory Seiko         Sr. Engineer              -4             NaN
17  Daikibo Factory Seiko             Engineer              -7             NaN
18  Daikibo Factory Seiko         Jr. Engineer               4             NaN
19  Daikibo Factory Seiko  Operational Support             -19             NaN
20  Daikibo Factory Seiko     Machine Operator              -5             NaN
21         Daikibo Berlin          Sr. Manager             -15             NaN
22         Daikibo Berlin              Manager             -16             NaN
23         Daikibo Berlin          Jr. Manager             -17             NaN
24         Daikibo Berlin         Sr. Engineer               4             NaN
25         Daikibo Berlin             Engineer               2             NaN
26         Daikibo Berlin         Jr. Engineer               4             NaN
27         Daikibo Berlin  Operational Support               0             NaN
28         Daikibo Berlin     Machine Operator              -6             NaN
29       Daikibo Shenzhen          Sr. Manager             -21             NaN
30       Daikibo Shenzhen              Manager             -19             NaN
31       Daikibo Shenzhen          Jr. Manager             -20             NaN
32       Daikibo Shenzhen         Sr. Engineer              -5             NaN
33       Daikibo Shenzhen             Engineer              -4             NaN
34       Daikibo Shenzhen         Jr. Engineer               3             NaN
35       Daikibo Shenzhen  Operational Support              -7             NaN
36       Daikibo Shenzhen     Machine Operator              -7             NaN